@import "./colors.scss";

.header {
	height: 5rem;
	
	width: 720px;
	max-width: 100vw;

	display: flex;
	align-items: center;
	justify-content: space-between;

	position: relative;
	margin: 0 auto;
  padding-top: 1.5rem;
	border-bottom: 1px solid $yellow;

	button {
		border: none;
		background: none;
		img {
			height: 2rem;
			width: 2rem;
		}
	}

	p {
		color: $yellow;
		font-size: 2rem;
	}

	@media(max-width: 860px) {
		padding: 1rem;

		button img {
			height: 1.5rem;
			width: 1.5rem
		}

		p {
			font-size: 1.4rem;
			word-wrap: break-word;
		}
	}
}

.main {
	width: 1248px;
	max-width: 100vw;

  margin: 0 auto;
	padding: 2rem 1rem 1rem 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	& > div:first-of-type {
		width: 720px;
		max-width: 100%;

		display: flex;
		justify-content: space-between;

		font-size: 1rem;
		color: $yellow;
	}
}

.plot {
	width: 720px;
	max-width: 100%;

	font-size: 1.25rem;
	word-wrap: break-word;
	color: $white;
	font-weight: 600;

	text-align: justify;
}

.ratings {
	width: 720px;
	max-width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;

	color: $white;

	& > div {
		width: 5rem;
		height: 6rem;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;


		&:first-of-type {
			width: 7.5rem;
		}

		&:nth-of-type(2) {
		  width: 6rem;
		}

		&:last-of-type {
			gap: 1rem;
			width: 7rem;
		}

		& > p {
			font-size: 1rem;
			word-wrap: break-word;
			text-align: center;
			color: $gray;

			&:last-child {
				font-size: 3rem;
			}
		}
	}
}

.staff {
	width: 720px;
	max-width: 100%;
	margin-top: 1.5rem;

	display: flex;
	align-items: flex-start;
  justify-content: space-between;

	color: $white;

	@media (max-width: 860px) {
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}
}

.meta {
	width: 45%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
  justify-content: center;
	gap: 2rem;

	p {
		width: 100%;
		display: flex;
		flex-direction: column;

		text-align: justify;
		color: $gray;
	}

	@media (max-width: 860px) {
		width: 100%;
	}
}
